
html {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #ffffff;
  overflow-x: hidden;
}

body img {
  max-width: 100%;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #f9f9f9;
}

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child,
h6:last-child, .h6:last-child {
  margin: 0;
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {
  h1, .h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h1, .h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
}

@media only screen and (max-width: 575.96px) {
  h3, .h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@media only screen and (max-width: 575.96px) {
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #f9f9f9;
  margin: 0 0 1.25rem 0;
}

p:last-child {
  margin: 0;
}



/* ----------------------------MENU----------------------------------*/


/* */
.menuArka {
  
  z-index: 999;
  width: 100%;
  padding: 5px 0;
  background-color:black;
 -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.positons {position: relative;}  
 
 /*------------------Site Logo------------- */
.site-logo {
  padding: 13px 0;
    float: left;
    max-width: 150px;
	}
	
/*  */
nav.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.main-menu ul li {display: inline-block;}
nav.main-menu ul li a {
  color: #fff;
  display: block;
    font-weight: 700;
    /* padding: 14px; */
    padding-top: 14px;
    padding-left: 0px;
    padding-right: 12px;
}
nav.main-menu ul > li {position: relative;}
nav.main-menu ul > li:hover ul {
  opacity: 1;
  visibility: visible;
 }
 
nav.main-menu ul ul.sub-menu li {display: block;}

nav.main-menu ul ul.sub-menu li a {
  color: #555;
  padding: 8px;
  font-size: 13px;
  font-weight: 600;
}

nav.main-menu ul li.current-list-item > a {color: #F28123;}
nav.main-menu li:hover > a {
  color: #F28123;
text-decoration:none;
}
nav.main-menu li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-icons a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.menuArka .header-icons a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  }
.menuArka .header-icons a:hover {
  color: #F28123;
  text-decoration: none;
}

.header-icons{
	margin-right:-5px;
}


nav.main-menu ul li:last-child a {display: inline-block;}
nav.main-menu > ul li:last-child {float: right;}
ul.sub-menu li:last-child {float: none !important;}
  
/*sub menu*/
nav.main-menu ul ul.sub-menu {
  position: absolute;
  background-color: #fff;
  width: 220px;
  padding: 15px 15px;
  margin: 0;
  left: 0;
  top: 50px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 0 20px #555555;
  box-shadow: 0 0 20px #555555;
}

nav.main-menu ul ul.sub-menu li {
  display: block;
  text-align: left;
}

nav.main-menu ul ul.sub-menu li a {
  color: #555;
  font-weight: 600;
  padding: 7px 10px;
  font-size: 13px;
  }
/*sub menu finaly */



/* Mobil GÖrünüm İcon*/
.mean-container .mean-bar {
  right: 0;
  top: 4px;
}

.mean-bar a.meanmenu-reveal {
  background-color: #F28123;
}

.mean-container .mean-nav ul li a:hover {
    color:#fd7e14;
}

.mean-container a.meanmenu-reveal {
  color: #051922;
}

.mean-container a.meanmenu-reveal span {
  background-color: #051922;
}

.mean-container .mean-nav ul li a {
  padding: 0.5em 4%;
}

.mean-container .mean-nav ul li li a {
  padding: 0.5em 10%;
}

.mean-container .mean-nav ul li a.mean-expand {
  font-size: 16px;
  height: 10px;
  line-height: 10px;
  width: 15px;
}

.mean-container a.meanmenu-reveal {
  padding: 8px 8px 6px;
margin: 8px;
}

nav.mean-nav > ul > li:first-child > a {
  border-top: none;
}
/* Bitiş*/


/* ------------------------Anasayfa ---------------------------*/
	
/*Anasayfa Ortaklar Bölümü */
.ortak{
	background: #181818;
    padding: 5px 0;

}
.duzen{
padding-top: 25px;
    padding-bottom: 27px;
    margin: auto;	
}





/* Slider */ /*Slider Kodları Boostrap carousel içersinde bulunmaktadır.*/
.carousel-item {
  height: 91vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* jumbotron */
.jumbotron
{
margin-top:-4px;
text-align:center;
background-color:#112334;
color:#fff;	
}

.jumbotron h1, .jumbotron .h1 
{
line-height: 1;
color: inherit;
font-size: 32px;
}
.jumbotron p 
{
line-height: 1.4;
margin: 35px;
font-size: 19px;
color:white;
}
.container .jumbotron 
{
  border-radius: 1px;
      margin-bottom: 85px;
	  border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.jumbotron .container {max-width: 100%;}

@media only screen and (max-width: 575.96px){
.jumbotron h1, .jumbotron .h1 
{
line-height: 1;
color: inherit;
font-size: 23px;
}
.jumbotron p 
{
line-height: 1.4;
margin: 16px;
font-size: 15px;
}
}


/* ------------------------FOOTER---------------------------*/
.footer{
  color:white;
position:inherit;
    bottom: 0px;
    width: 100%;
    padding:15px;
background-color: #000;
margin-top: 0rem!important;
}
  
.hakkımızda h2{
	  color:white;
	  font-size: 2em;
	  line-height: 1.2em !important;
  } 
.hakkımızda p{color:white; }
.hakkımızda p a{ 
color: #ffffff;
text-decoration: none;
background-color: transparent;
}
.hakkımızda p a:hover{ color: #F28123;}

.Sayfa h4{color:white; font-size: 2em;}
.Sayfa ul {list-style-type: none;} 
.Sayfa ul li {line-height: 33px; }
.Sayfa ul li a { 
color: white;
transition: color .2s;
}
.Sayfa ul li a:hover{
text-decoration:none;
color:#F28123;
}
  .adres i{font-size: 18px; color:white;}
  .adres h4{color:white; font-size:2em;}
  .adres p{ color:white;}

  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  
  
  
  
  
  
  
  
  
  
  
/*--------------------- ---------------------------------*/
  
  /*--------------------------Banner----------------------------*/

.hk-option {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 213px;
}
.hk-bg {
    background-image: url(../img/b1.jpg);
}
.hk-option:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.8;
}
.hk-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.hk-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    margin-top: 20px;
}
	
	
	
	

  /*--------------------- ---------------------------------*/
  
  /*--------------------------İletişim Formu ----------------------------*/
  
	.iletisim{
		margin-top: 11em;
		margin-bottom: 4em;
	}
	
	
	.col-md-3{
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;}	
	.bg-bilgi{background:#373232;}
	.iletisim-bilgi{margin-top:10%;	}
	.iletisim-bilgi img{margin-bottom: 15%;}
	.iletisim-bilgi h2{margin-bottom: 10%;}
	
  .col-md-99
  {
    padding: 4%;
  }
  
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.iletisim-form{
	margin-left:15px;	
		
	}
	.iletisim-form label{font-weight:600; color:black;}
	.iletisim-form button{
		background: #F28123;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.iletisim-form button:focus{
		box-shadow:none;
	}
	.deneme{margin-top:25px;}
	
	.map{
	padding-top:10%;
    overflow:hidden;
    padding-bottom: 28%;
    position:relative;
    height:0;
	}
	.map iframe{
   left: 0;
    top: 113px;
    height: 81%;
    width: 100%;
    position: absolute;
		}
	
	
	/*--------------------- ---------------------------------*/
  
  /*--------------------------Hakkımızda bilgi ----------------------------*/
	.column {
    flex: 1;
    padding: 26px;
    background-color: #F9F9F9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    min-height: 100%;
    height: auto !important;
   margin: 4em auto 1em;
}
.column h1{font-size: 2.5rem;}
.column p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.75em;
}





  /*--------------------------Hakkımızda bilgi2 ----------------------------*/

.Hk-img .hk-ekpa {
  color: #000;
  margin: 0;
  font-weight: 300;
  font-size: 25px; }
.Hk-img .hk-ekpbil {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  letter-spacing: .1em; }

.Hk-img img {
  width: 120px;
  margin-bottom: 20px; }
  
.hk-ekpksl{
	margin-top:6px;
} 
.hk-ekpksl p{
	color:#8c92a0;
}  
  
.top{    margin-top: 114px;
    margin-bottom: 175px;}
  
   .baslık h2 {
    display: inline-block;
    font-size: 33px;
    color: #000000cf;
    padding-bottom: 46px;
}






/*Ads reklam*/

.big-add-area {
    position: relative;
    z-index: 1;
    padding: 0 4%;
	margin-top: 42px;
    margin-bottom: 60px;
}

.big-add-area img {
    width: 100%;
}



/*iÇERİK*/
.icerikKapsayici{
  margin:0 auto 10px;
  width:100%;
  height:auto;
  background-color:;
  margin-top:20px; 
}

.icerik {
  margin-right:20px;
  margin-left:25px;
  float:left;
  width:1249px;
  height:auto;
  background-color:#FFF;
}

.urun a{
		color:black;
	
}
    .icerik .urun {
        width:202px;
        height:310px;
        /*border:1px solid #e0e0e0;*/
        float:left;
        padding:10px;
		margin-top:15px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(255 193 7 / 78%);
    border-radius: 16px;
    }
        .icerik .urun:hover {
          border: 1px solid #ffc107;
        }
		
/*SOL İÇERİK FİLTRE*/
.filtre{
	
	width:200px;
	height:auto;  
	float:left;
	margin-left:20px;
	
}

/*DETAY SAYFASI*/
.detaySol {
    width:200px;
    height:auto;
    float:left;
    background-color:#fff;
    padding:10px;
	margin-left:80px;
}
.detaySag {
	margin-left:25px;
	margin-top:10px;
    width:50%;
    height:auto;
    background-color:#f5f5f5;
    float:right;
    padding:10px;
}
.aciklama {
    width:100%;
    height:auto;
    background-color:#fff;
    border:1px solid #ededed;
    color:#000;
    font-size:14px;
}		

.filtre strong{
	
	color:black;
	
}



/******************************************* Profil sayfası *******************************************/
.my-account {
  position: relative;
  padding: 30px 0;
  margin-top: 12px;
}

.my-account .nav.nav-pills .nav-link {
  padding: 10px 15px;
  color: #353535;
  background: #ffffff;
  border-radius: 0;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  transition: all .3s;
  border-radius: 40px;
}

.my-account .nav.nav-pills .nav-link:last-child {
  border-bottom: none;
}

.my-account .nav.nav-pills .nav-link:hover,
.my-account .nav.nav-pills .nav-link.active {
  color: #ffffff;
  background:#F28123;
  border-radius: 40px;
}
.my-account h4,h1,p,h5{
  color: #353535;
}

.my-account .nav.nav-pills .nav-link i {
  margin-right: 5px;
}

.my-account .tab-content {
  padding: 30px;
  background: #ffffff;
}

.my-account .tab-content .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.my-account .tab-content .table .thead-dark th {
  text-align: center;
  color: #353535;
  background: #ffffff;
  border-color: #dddddd;
  border-bottom: none;
  vertical-align: middle;
}

.my-account .tab-content .table td {
  vertical-align: middle;
}


.button:hover, .button:active, .button:focus {
  color: #ffffff;
  background: #F28123;
  box-shadow: none;
}
.button {
  display: inline-block;
  font-weight: 400;
  color:#F28123;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #F28123;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.forms-user {
  color:black;
  font-weight: bold;
margin-bottom: -2px;

}





/******************************************* error page *******************************************/
body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background-color: #222;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 158px;
  line-height: 153px;
}

.notfound .notfound-404 h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 185px;
  letter-spacing: -5px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound .notfound-404 h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 123px;
  letter-spacing: -5px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}
.notfound .notfound-404 h2>span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}


.notfound p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 35px;
}

.notfound a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}

/**************************************Sozlesme*****************************************/

.col-lg-82 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 102.666667%;
  max-width: 101.666667%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
.col-lg-82 {
position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-82{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 100px;
    margin-bottom: 100px;
}



.blg {
  margin-top: 3px;
  margin-bottom: 4px;
  line-height: 3.3;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  font-size: x-large;
}



/* Ürünlerim tablo*/
.ftco-section {
  padding: 4em 0;
}
.table thead.thead-primary {
  background: #F28123;
  border-radius: 5px !important;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.table tbody tr {
  margin-bottom: 10px;
}


.table tbody th, .table tbody td {

  padding: 30px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}
.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {

  padding: 30px;
  font-size: 13px;
  font-weight: 500;
  color: white;
}
.table tbody td .img {
  width: 100px;
  height: 80px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.table tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}


.btn-xs, .btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* Footer Card */
.w3l-footer-22{
  margin-right: 55px;
  float: right;
  margin-top: 25px;
}


.w3l-footer-22 .sub-two-right ul li {
  display: inline-block;
}

.w3l-footer-22 .footer-hny li {
  list-style: none;
  margin-right: 15px;
}
.w3l-footer-22 a.pay-method span {
  font-size: 34px;
  margin: 0 10px 0px 0;
}
.w3l-footer-22 a.pay-method {
  color: #ffffff;
}


/*Urunlerim Liste*/
.shop_top {
  padding: 5% 0;
}
.shop_box {
  position: relative;
}

.shop_desc {
  border: 1px solid #E0E0E0;
  padding: 5%;
  border-radius:6px;
}

.shop_desc {
  padding: 10px;
 }

.shop_desc h3{
	margin-bottom:5px;
}
.shop_desc h3 a{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.shop_desc h3 a:hover{
	color:#666;
}
.shop_desc p{
	color:#555;
	font-size:0.9125em;
	line-height:1.8em;
	margin-bottom:10px;
}

span.actual {
	color: #7DB122;
	font-size: 1em;
	color:#000
}

ul.buttons {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 2px;
}
.shop_btn {
  float: right;
}
.shop_btn a {
  color: #000;
  font-size: 0.8125em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}
.shop_btn a:hover{
	color:#E92546;
}
.cart a:hover{
	color:#FFAF02;
}
.shop_box-top{
	margin-bottom:5%;
}

.clear {
  clear: both;
}


@media only screen and (max-width: 767.96px) {
  .shop_box {
    width:auto;
    margin-top:25px;
  }
}
@media only screen and (max-width: 500.48px) {
  .shop_box {
    width:auto;
    margin-left:40px;
    margin-top:15px;
  }
}
@media only screen and (max-width: 360.48px) {
  .shop_box {
    width:auto;
    margin-left:16px;
    margin-top:15px;
  }
}













/******************************************* YÖNETİM PANELİ *******************************************/

.btn-admin{
    color: #000;
    background-color: #5f5f5f !important ; 
    border-color: #5f5f5f !important;
    -webkit-box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);

}
.btn-admin:hover {
  color: #000;
  background-color: #8590d9;
  border-color: #7e89d7;
}

.auth-box {
  -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  background-color: #fff; }
  .auth-box:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: ' ';
    vertical-align: middle;
    height: 100%; }
  .auth-box .content {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 98%;
    vertical-align: middle; }
  .auth-box .left {
    float: left;
    width: 42%;
    height: 100%;
    padding: 0 30px;
    text-align: center; }
    .auth-box .left:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: ' ';
      vertical-align: middle;
      height: 100%; }
  .auth-box .right {
    float: right;
    width: 58%;
    height: 100%;
    position: relative;
    background-image: url("../img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .auth-box .right:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: ' ';
      vertical-align: middle;
      height: 100%; }
    .auth-box .right .text {
      position: relative;
      padding: 0 30px;
      color: #fff; }
    .auth-box .right .heading {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 26px;
      font-weight: 400;
      color:white; }
    .auth-box .right p {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: white;
    }
    .auth-box .right .overlay {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(99, 156, 185, 0.92); }
  .auth-box .header {
    margin-bottom: 30px; }
  .auth-box .lead {
    margin-top: 5px;
    font-size: 16px;
    text-align: center; }
  .auth-box .form-auth-small .btn {
    margin-top: 20px; }
  .auth-box .form-auth-small .element-left {
    float: left; }
  .auth-box .form-auth-small .element-right {
    float: right; }
  .auth-box .form-auth-small .bottom {
    margin-top: 20px;
    text-align: center; }

    .helper-text a{
      color:black;
    }
    .helper-text a:hover{
      color:#00AAFF;
      transition: 0.3s;
    }

  .auth-box.lockscreen {
    width: 50%;
    padding: 40px 60px; }
    .auth-box.lockscreen .logo {
      margin-bottom: 30px; }
    .auth-box.lockscreen .user {
      margin-bottom: 30px; }
      .auth-box.lockscreen .user .name {
        font-size: 18px;
        margin-top: 10px; }
  @media screen and (min-width: 1440px) {
    .auth-box.lockscreen {
      width: 35%; } }
  @media screen and (max-width: 1279px) {
    .auth-box {
      width: 90%; }
      .auth-box .left {
        top: 3.3em; } }
  @media screen and (max-width: 1023px) {
    .auth-box .left {
      width: 100%;
      position: inherit;
      padding: 30px; }
    .auth-box .right {
      display: none; } }
  @media screen and (max-width: 992px) {
    .auth-box {
      width: 70%; }
      .auth-box.lockscreen {
        width: 50%;
        padding: 40px 20px; } }
  @media screen and (max-width: 640px) {
    .auth-box {
      width: 90%; }
      .auth-box .content {
        width: 95%; }
      .auth-box.lockscreen {
        width: 90%; } }

        .auth-box .right .heading {
          margin-top: 0;
          margin-bottom: 5px;
          font-size: 26px;
          font-weight: 300;
      }
      .auth-box .right p {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
    }

    /********************
 * LAYOUT
 ********************/
#wrapper .sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #2B333E;
  position: fixed;
  left: 0; }

#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  left: 0;
  position: relative;
  float: right;
  background-color: #f5f5fa; }

#wrapper #sidebar-nav,
#wrapper .main {
  padding-top: 80px; }

@media screen and (max-width: 767px) {
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 130px; } }

.layout-fullwidth #wrapper .sidebar {
  left: -260px; }

.layout-fullwidth #wrapper .main {
  width: 100%; }

.layout-fullwidth #
 .navbar {
  left: 0 !important; }

.layout-fullwidth #wrapper .btn-toggle-fullwidth {
  color: #00AAFF; }

.offcanvas-active #wrapper .sidebar {
  left: 0; }

.offcanvas-active #wrapper .main {
  width: 100%;
  position: relative;
  left: 260px; }

@media screen and (max-width: 1024px) {
  #wrapper .sidebar {
    left: -260px; }
  #wrapper .main {
    width: 100%; }
  #wrapper .navbar {
    left: 0 !important; }
  #wrapper .btn-toggle-fullwidth {
    color: #00AAFF; }
  .btn-toggle-minified {
    display: none; } }

.main-content {
  padding: 28px 10px; }

.navbar + .main-content {
  padding: 105px 0 28px 5px; }
  @media screen and (max-width: 767px) {
    .navbar + .main-content {
      padding-top: 155px; } }

html.fullscreen-bg,
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
  height: 100%; }

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table; }

.vertical-align-middle {
  display: table-cell;
  vertical-align: middle; }